moc_mainwindow.cpp
moc_otevri.cpp
qrc_ikony.cpp
qrc_ikony_bonus.cpp
ui_mainwindow.h
ui_otevri.h
main.o
mainwindow.o
otevri.o
moc_mainwindow.o
moc_otevri.o
qrc_ikony.o
qrc_ikony_bonus.o
*~
core
*.core
